[submodule "landing-frontend"]
	path = landing-frontend
	url = https://github.com/ithozyaeva/itx-landing-frontend.git
[submodule "admin-frontend"]
	path = admin-frontend
	url = https://github.com/ithozyaeva/itx-admin-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ithozyaeva/itx-backend.git
[submodule "platform-frontend"]
	path = platform-frontend
	url = https://github.com/ithozyaeva/itx-platform-frontend.git
